@media only screen and (max-width: 600px){
    .general{
        width: 100%;
    }
    
    .main img{
        width: 100%;
        height: auto;
        
    }
    /*aBOUT  */
    
    .about img{
        
        display: none;
        
    }

    .about-info{
        grid-column: 10/10; /* ocupa todo el espacio del ancho*/
        padding: 3em;
     }
     
     .about-info h2{
         font-size: 2em;
         color:#181818;
     }
     .divider{
         height: 4px;
         width: 60px;
         background-color: #181818;
         margin-top: 5px;
         margin-bottom: 1em;
     }
     
     .about p{
         margin-bottom: 1em;
         font-size: 1.5em;
     
     }

/*aBOUT  */

    .navbar{
        position: relative;
    }
    .navbar .shoping{
        display: none;
    }
    .navbar .menu-bar{
     display: block;
     grid-column: 8/9;
     font-size: 2em;
     cursor: pointer;
    }
    .navbar .menu-bar .tl{
        display: block;
        grid-column: 8/9;
        font-size: 1em;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    .navbar .menu{
        position: absolute;
        width: 100%;
        height: 70vh;
        display:grid;
        align-items: center;
        background-color: #EDCB54;
        margin-top: 9em;
         transform: translateX(170%); 
        transition: all 1s;
        
    }
    .navbar .menuac{
        position: absolute;
        width: 100%;
        height: 70vh;
        display:grid;
        align-items: center;
        background-color: #EDCB54;
        margin-top: 9em;
        transform: translateX(0%); 
        transition: all 1s;
    }
    .navbar .menu-toggle{
     transform: translateX(0%);
 
 } 
 
 /* SECTION MAIN------------------ */
 .hero .info-content{
     grid-column: 2/10;
     grid-row: 5/8;
     }   
     .hero h1{
         font-size: 3.5em;
     }
 }
 
 /* SECTION FOOTER------------------- */
 
 .footer .follow-me{
     display: none;
 }
 .footer .social-network{
     text-align: center;
 }


 /* contact section ----------------- */
 .contact-section{
    align-items:flex-end;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
body{
    align-items:flex-end;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* cards ------------------*/




@media screen and (max-width: 736px) {
    .portfolio .container {
      width: 100%;
      position: relative;
      margin-bottom: 20px;
    }
    .card{
        position: absolute;
        left: 5%;
         
    }
    .card2{
        position: absolute;
        left: 55%;
        
    }
    .card3{
        position: absolute;
        top: 110%;
        left: 5%;
    }
    .card4{
        position: absolute;
        top: 110%;
        left: 55%;
        
    }
    .proyect-details-content{
        display: none;
    }

    .portfolio{
        width: 100vw;
        height:830px;
        
        margin-bottom: 50px;
     }
    
 }
