@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Gentium+Plus:ital@1&family=Inconsolata:wght@300;400&family=Roboto:ital,wght@0,100;1,900&display=swap');

html{
    overflow-x: hidden;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Gentium Plus';
    width: 90%;
    
    
}
.wrapper{
    width: 100vw;
   height:800px;
   background-color: #EDCB54; 
   color: #181818;
   margin-bottom: 0px;
   display: block;
}
.portfolio{
   width: 100vw;
   height:600px;
   background-color: #EDCB54; 
   color: #181818;
   margin-bottom: 50px;
   display: block;
}
.navbar{
    display:flex; /* ponemos elementos un al lado del otro*/
    justify-content: space-between;
    padding: 2em;
    font-size: 1.5em;
}
.brand{
    margin-top: -7px;
}

.brand span{
    color:#fff;

}
.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.navbar .menu-bar{
    display: none;
}
.menu li{
    list-style: none;
}
.menu a{
    color: #181818;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.3em;
}
.menu .active{
    color: aqua;
}
.menu a:hover{
    background-color:#181818;
    color:#fff;
    transition:ease-in .4s ;
    
}

.menuac{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.menuac li{
    list-style: none;
}
.menuac a{
    color: #181818;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.3em;
}
.menuac .active{
    color: aqua;
}
.menuac a:hover{
    background-color:#181818;
    color:#fff;
    transition:ease-in .4s ;
    
}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    align-items: center;
    position: relative;
    top: -10%;
   
}
h1{
    font-size: 3em;
}
span{
    color:#fff
}
.info-content p{
    font-size: 1.5em;
}

.download-cv{
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px;
}

.download-cv:hover{
    background-color:#181818;
    color: #fff;
    box-shadow:none;
}

.main img{
   
}
.about{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    align-items: center;
    font-size: 1em;
}

.about img{
    width:100%;
    grid-column: 1/2;
}
.about-info{
   grid-column: 2/10;
   padding: 3em;
}

.about-info h2{
    font-size: 2em;
    color:#181818;
}
.divider{
    height: 4px;
    width: 60px;
    background-color: #181818;
    margin-top: 5px;
    margin-bottom: 1em;
}

.about p{
    margin-bottom: 1em;
    font-size: 1.5em;

}

.portfolio-headings{
    width: 100vw;
    padding: 2em;

}
.portfolio-headings h2{
    font-size: 2.5em;

}
.portfolio .container{
    width: 80vw;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
 
}
.portfolio .container:after{
    content: "";
    display: table;
    clear: both;
}
.card{
    
    max-width: 300px;
    min-width: 150px;
    background-color: transparent;
    margin: 1em;

    float: left;
  width: 25%;
  
  
  text-align: center;
  padding: 0px 10px 0px 10px;
  padding-bottom: 10px;
  
  

    
}

.card2{
    background-color: transparent;
    min-width: 150px;
    max-width:300px;
    margin: 1em;
    text-align: center;
    float: left;
  width: 25%;
  padding: 0px 10px 0px 10px;


  

    
}
.card3{
    background-color: transparent;
    min-width: 150px;
    text-align: center;
    margin: 1em;
    max-width:300px;
    float: left;
  width: 25%;
  padding: 0px 10px 0px 10px;
  

  

    
}
.card4{
    background-color: transparent;
    max-width: 300px;
    min-width: 150px;
    text-align: center;
    margin: 1em;

    float: left;
  width: 25%;
  padding: 0px 10px 0px 10px;
    
}

.card__img{
    width: 100%;
    height: 150px;
    /* background-image:url(../img/c++.png); */
    background-size: cover;
    background-color: #fff;
}

.card__title{
    padding: 20px;
    background-color: #fff;

}

.card__projects-links{
    display: flex;
    justify-content: space-evenly;
    padding-left:  5%;
    padding-bottom: 1%;
    padding-top: 40%;

    

}
.card__projects-links a{
    color:#fff;
    text-decoration: none;
}
.card__projects-links i{
    font-size: 1.5em;
}
.card .project-details{
    margin: 0 auto;
    margin: 1em;
    width:70%;
    
    
}

.card .project-details a{
    text-decoration: none;
    color: #EDCB54; 
    text-transform: uppercase;
   
}

.proyect-details-content{
    display: none;
    width: 100%;
    justify-content: center;
    margin-top: 1em;

}


.contact-headings h2{
    font-size: 2em;
}
.contact-section{
    align-items:flex-end;
}
.container-contact{
    padding: 3em;
    margin:0 auto;

}


.form{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;  
}

.form input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background:none;
    border: none;
    border-bottom: 1px solid #181818;
    color: #181818;
}
.form textarea{
    height: 150px;
    background: none;
    color: #181818;
    padding: 1.5em;
    border: 1px solid #181818;
}

.btn-submit{
    padding:10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color:#181818;
    color: #fff;
    border-radius:20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px;
}

.btn-submit:hover{
    background-color:#EDCB54;
    box-shadow:none;
    color: #181818;
}


.footer{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: #EDCB54;
    background-size: cover;
}

.footer-content h2{
    font-size: 3em;
}
.footer-content h5,
.sotial-network i{
    font-size: 2em;
    padding: 0.5em;

}
.sotial-network{
    display:flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}


/* animacion de textos.-------*/


.info-content h1{
    /* font-size: 2.5em; */
    /* font-family: monospace; */
    /* letter-spacing: 0.10em; */
    border-right: 0.10em solid black;
    overflow:hidden;
      white-space: nowrap;  
    animation: typing 4.5s steps(30, end) infinite, blink step-end 0.5s infinite;

}

.contact-headings h2{
    border-right: 0.10em solid black;
    overflow:hidden;
      white-space: nowrap;  
    animation: typing 3.5s steps(30, end) infinite, blink step-end 0.5s infinite;
}
/* animacion del texto --------------*/
@keyframes typing {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
/* animacion del cursor --------------*/
@keyframes blink{
    from,
    to{
        border-color: transparent;
    }
    50%{
        border-color: black;

    }

}

/* cards--------------*/

* {
    box-sizing: border-box;
  }
  
 
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
